<div class="${bid}">
    <div class='row ${bid}__multiple' data-dojo-attach-point='__multipleEtypes'>
        <div class='${bid}__side sidebar col-md-4 col-sm-3 col-xs-12'>
            <ul class="nav nav-pills nav-stacked ${bid}__sideList" data-dojo-attach-point='__sideList'></ul>
        </div>
        <div class='${bid}__list col-md-8 col-sm-9 col-xs-12'
             data-dojo-attach-point="__placeholder"></div>
        <div class='${bid}__list col-md-8 col-sm-9 col-xs-12' data-dojo-attach-point='__list'
             style="display:none;"></div>
    </div>
    <div class='row ${bid}' data-dojo-attach-point='__singleEtype'>
        <div class='${bid}__list col-md-12' data-dojo-attach-point='__singleEtypeList'></div>
    </div>
</div>