<div class="${bid}">
    <div class="col-md-6 col-sm-3 ${bid}__list" data-dojo-attach-point="__list">
    </div>
    <div class="col-md-6 col-sm-9 ${bid}__contentEditor" data-dojo-attach-point="__placeholder">
    </div>
    <div class="col-md-6 col-sm-9 ${bid}__contentEditor" data-dojo-attach-point="__contentEditor"
         style="display: none">
    </div>
</div>
