<div>
    <div class="form-group" data-dojo-attach-point="__currentBlock">
        <label class='${bid}__label' data-dojo-attach-point="__currentLabel"></label>
        <div class='${bid}__input'>
            <input type="text" class="form-control" disabled data-dojo-attach-point="__currentValue"/>
        </div>
    </div>
    <div data-dojo-attach-point="__fileOrLink"></div>
</div>